.env
.env.dev
config/ssh/id_rsa
config/ssh/id_rsa.pub
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/
dev-maildir/
data/*
!data/*/.gitkeep
*.log
*.db
*.sqlite
.DS_Store
*.swp
*.swo
*~
.vscode/
.idea/
